@model IEnumerable<AppUser>

@{
  ViewData["Title"] = "Index";
  Layout = "_LayoutAdmin";
  var numberStudentOnline = 0;
  var numberTeacherOnline = 0;
  var numberClassOnline = 0;
}
@section Content{
   <div class="right__content">
    <div class="right__title">Bảng điều khiển</div>
    <p class="right__desc">Bảng điều khiển</p>
    <div class="right__cards">
      <a class="right__card" asp-action="UserManager" asp-controller="Admin">
        <div class="right__cardTitle">Người dùng</div>
        <div class="right__cardNumber">@Model.Count()</div>
        <div class="right__cardDesc">Xem Chi Tiết <img src="~/pages/admin/assets/arrow-right.svg" alt=""></div>
      </a>
      <a class="right__card" href="view_customers.html">
        <div class="right__cardTitle">Học sinh online</div>
        <div class="right__cardNumber">@numberStudentOnline</div>
        <div class="right__cardDesc">Xem Chi Tiết <img src="~/pages/admin/assets/arrow-right.svg" alt=""></div>
      </a>
      <a class="right__card" href="view_p_category.html">
        <div class="right__cardTitle">Giáo viên online</div>
        <div class="right__cardNumber">@numberTeacherOnline</div>
        <div class="right__cardDesc">Xem Chi Tiết <img src="~/pages/admin/assets/arrow-right.svg" alt=""></div>
      </a>
      <a class="right__card" href="view_orders.html">
        <div class="right__cardTitle">Lớp online</div>
        <div class="right__cardNumber">@numberClassOnline</div>
        <div class="right__cardDesc">Xem Chi Tiết <img src="~/pages/admin/assets/arrow-right.svg" alt=""></div>
      </a>
    </div>
  </div>
}
 