@model TotalInformation

@{
  ViewData["Title"] = "Index";
  Layout = "_LayoutAdmin";
  var numberUserOnline = 0;
  var numberClassOnline = 0;
  foreach(Room room in Model.Rooms){
    numberUserOnline += room.UserCalls.Count() ;
  }
  numberClassOnline = Model.Rooms.Count();
}
@section Content{
   <div class="right__content">
    <div class="right__title">Bảng điều khiển</div>
    <p class="right__desc">Bảng điều khiển</p>
    <div class="right__cards">
      <a class="right__card" asp-action="UserManager" asp-controller="Admin">
        <div class="right__cardTitle">Người dùng</div>
        <div class="right__cardNumber">@Model.Users.Count()</div>
        <div class="right__cardDesc">Xem Chi Tiết <img src="~/pages/admin/assets/arrow-right.svg" alt=""></div>
      </a>
      <a class="right__card" href="view_customers.html">
        <div class="right__cardTitle">Học sinh online</div>
        <div class="right__cardNumber">@numberUserOnline</div>
        <div class="right__cardDesc">Xem Chi Tiết <img src="~/pages/admin/assets/arrow-right.svg" alt=""></div>
      </a>
      <a class="right__card" href="view_orders.html">
        <div class="right__cardTitle">Lớp online</div>
        <div class="right__cardNumber">@numberClassOnline</div>
        <div class="right__cardDesc">Xem Chi Tiết <img src="~/pages/admin/assets/arrow-right.svg" alt=""></div>
      </a>
    </div>
  </div>
}
 