
AppEducation/.vs/AppEducation/v16/.suo
AppEducation/.vs/AppEducation/DesignTimeBuild/.dtbcache
*.ide
*.ide-shm
*.ide-wal
AppEducation/AppEducation/.vscode/launch.json
AppEducation/AppEducation/.vscode/tasks.json
AppEducation/AppEducation/appsettings.json
AppEducation/AppEducation/bin/Debug/netcoreapp3.1/AppEducation.deps.json
AppEducation/AppEducation/bin/Debug/netcoreapp3.1/AppEducation.dll
AppEducation/AppEducation/bin/Debug/netcoreapp3.1/AppEducation.pdb
*.pdb
*.dll
*.cache
AppEducation/AppEducation/obj/AppEducation.csproj.nuget.dgspec
AppEducation/AppEducation/obj/AppEducation.csproj.nuget.g.props
AppEducation/AppEducation/obj/AppEducation.csproj.nuget.g.targets
AppEducation/AppEducation/obj/project.assets
AppEducation/AppEducation/obj/project.nuget.cache

AppEducation/.vs/AppEducation/v16/.suo
AppEducation/AppEducation/appsettings.json
AppEducation/.vs/AppEducation/config/applicationhost.config
AppEducation/AppEducation/appsettings.json
*.dll
*.pdb
AppEducation/AppEducation/bin/Debug/netcoreapp3.1/AppEducation.runtimeconfig.dev.json
AppEducation/AppEducation/bin/Debug/netcoreapp3.1/appsettings.json
AppEducation/AppEducation/obj/AppEducation.csproj.nuget.dgspec.json
*.props
*.cache
AppEducation/AppEducation/obj/Debug/netcoreapp3.1/AppEducation.csproj.FileListAbsolute.txt
AppEducation/AppEducation/obj/*
AppEducation/.vs/AppEducation/v16/.suo
*.dll
*.pdb
AppEducation/AppEducation/bin/*
AppEducation/.vs/AppEducation/v16/.suo
AppEducation/.vs/AppEducation/DesignTimeBuild/.dtbcache.v2
AppEducation/.vs/AppEducation/v16/.suo