
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ViewData["Title"] - Admin </title>
  <link rel="stylesheet" href="~/pages/admin/css/main.css">
  @RenderSection("Head", required: false)
</head>

<body>
 <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                <div class="left">
                    <span class="left__icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <div class="left__content">
                        <div class="left__logo">ADMIN</div>
                        <div class="left__profile">
                            <div class="left__image"><img src="~/pages/admin/assets/avata-admin.jpg" alt=""></div>
                            <p class="left__name">Account : @User.Identity.Name</p>
                        </div>
                        <ul class="left__menu">
                            <li class="left__menuItem">
                                <a asp-action="Index" asp-controller="Admin" class="left__title"><img src="~/pages/admin/assets/icon-dashboard.svg"
                                    alt="">Dashboard</a>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img src="~/pages/admin/assets/icon-users.svg" alt="">Người dùng<img
                                    class="left__iconDown" src="~/pages/admin/assets/arrow-down.svg" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_product.html">Thêm</a>
                                    <a class="left__link" href="view_product.html">Xem danh sách</a>
                                </div>
                                <div class="left__text">
                                    <a class="left__link" href="view_product.html">Giáo Viên Online</a>
                                    <a class="left__link" href="view_product.html">Học Sinh Online</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img src="~/pages/admin/assets/icon-book.svg" alt="">Lớp học<img
                                    class="left__iconDown" src="~/pages/admin/assets/arrow-down.svg" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_category.html">Online</a>
                                    <a class="left__link" href="view_category.html">Offline</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img src="~/pages/admin/assets/icon-settings.svg" alt="">Cài đặt</div>
                            </li>
                            <li class="left__menuItem">
                                <a href="view_orders.html" class="left__title"><img src="~/pages/admin/assets/icon-book.svg"
                                    alt="">Thông báo</a>
                            </li>
                            <li class="left__menuItem">
                                <a href="edit_css.html" class="left__title"><img src="~/pages/admin/assets/icon-pencil.svg"
                                    alt="">Chỉnh CSS</a>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img src="~/pages/admin/assets/icon-user.svg" alt="">Admin<img
                                    class="left__iconDown" src="~/pages/admin/assets/arrow-down.svg" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_admin.html">Chèn Admin</a>
                                    <a class="left__link" href="view_admins.html">Xem Admins</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <a href="" class="left__title"><img src="~/pages/admin/assets/icon-logout.svg" alt="">Đăng Xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>    
                <div class="right">
                @RenderSection("Content",required: false)
                </div>
            </div>   
        </div>
  </div>

  @RenderSection("Script", required: false)
  <script src="~/pages/admin/js/main.js"></script>
</body>
</html>