
@{
    Layout = null;
}
@model IEnumerable<string> 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <p>@Model</p>
    <p>Duplicate Email In Database</p>
</body>
</html>

