@model LoginModel
@{
    ViewData["Title"] = "User Login";
	Layout = "_Layout";
}

@section Head {
	<link rel="stylesheet" type="text/css" href="~/pages/login/dangnhap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
<div class="wrapper">
	<div class="logo">
		<img src="~/pages/login/img/logo.png" alt="GitHub">
	</div>
	<div class="title">
		<p>Sign In</p>
	</div>
	<div asp-validation-summary="All" class="text-danger"></div>
	<form asp-area="" asp-controller="Account" asp-action="Login" asp-antiforgery="true">
		<div class="form">
			<div class="input_field">
				<label>User Name</label>
				<input asp-for="UserName" type="text" class="input">
			</div>
			<div class="input_field">
				<label>Password</label>
				<input asp-for="Password" type="password" class="input">
				@Html.ActionLink("Forgot password", "ForgotPassword", "Account")
			</div>
			<div class="btn">
				<input type="submit" value="Sign in" class="sign_btn">
			</div>
		</div>
	</form>
	<div class="create_act">
		<p>Have no account? @Html.ActionLink("Create an account","Register", "Account")</p>
	</div>
	<div>
		<a asp-action="GoogleLogin" class="google btn">
			<i class="fa fa-google fa-fw">
			</i> Login with Google+
		</a>
	</div>
	<div class="footer">
		<ul>
			<li><a href="#">Terms</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Security</a></li>
			<li><a href="#">Contact CallCenter</a></li>
		</ul>
	</div>
</div>