
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPresent.cshtml";
}
@model Classes
<div id="topica-vcr">
    <div class="AtlaskitThemeProvider__LegacyReset-sc-431dkp-0 tOoji">
        <div class="wrapper">
            <div class="vcrx-body vcrx-item-box">
                <div class="group-left">
                    <div class="vcrx-box-body vcrx-box-left">
                        <div class="vcrx-item-box vcrx-user-list">
                            <div class="box-user-list box-list">
                                <h5 class="vcrx-title">Người dùng</h5>
                                <div class="group-user">
                                    <div>
                                        <p class="user-title">Giáo viên</p>
                                        <div class="contact-list-panel">
                                            <ul id="contacts" class="list-group list-group-striped">
                                                <li class="contact-list-item">
                                                    <div class="group-icon-device">
                                                        <div class="box-icon-device">
                                                            <div class="icon-network connect-good"></div>
                                                            <div class="icon-user icon-teacher">
                                                                <svg class="icon icon-px_ic_teacher">

                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="contact-list-item-name">
                                                        <span data-title="teacher" class="user-role">
                                                            <span class="role-device">teacher</span><br>
                                                        </span>
                                                        <span class="user-name" title="Vuk LAZAREVIĆ-180882">Vuk LAZAREVIĆ-180882</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="user-title">Học sinh (<span class="user-count">1</span>)</p>
                                        <div class="contact-list-panel">
                                            <ul id="contacts" class="list-group list-group-striped">
                                                <li class="contact-list-item">
                                                    <div class="group-icon-device">
                                                        <div class="box-icon-device">
                                                            <div class="icon-network connect-good"></div>
                                                            <div class="icon-user icon-teacher">
                                                                <svg class="icon icon-px_ic__Device__Website">
                                                                    <use xlink:href="#icon-px_ic__Device__Website">
                                                                    </use>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="contact-list-item-name">
                                                        <span data-title="student"
                                                              class="user-role">
                                                            <span class="role-device">student</span><br>
                                                        </span><span class="user-name" title="Ngân Vũ Thị Thanh-288774">
                                                            Ngân
                                                            Vũ Thị Thanh-288774
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vcrx-item-box vcrx-tool">
                            <div class="box-tool box-list">
                                <div class="box-title-webcam">
                                    <p class="vcrx-title">Webcam</p>
                                    <div class="webcam-triangle"></div>
                                </div>
                                <div class="line-top"></div>
                                <div class="group-tool">
                                    <div class="tool-triangle"></div>
                                    <div class="box-raise-hand">
                                        <button class="icon-tool ">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vcrx-item-box vcrx-webcam">
                            <div class="box-webcam box-list">
                                <div class="video-cam">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-right">
                    <div class="vcrx-item-box vcrx-header">
                        <div class="header">
                            <div class="box-logo-topica"><img src="./images/logo.png"></div>
                            <div class="box-media-control">
                                <div class="group-media-control">
                                    <div class="media-control">
                                        <div title="Mic" class="mic-control media-box">
                                            <i class="fa fa-microphone" aria-hidden="true"> </i>
                                        </div>

                                        <div title="Loa" class="volumn-control media-box">
                                            <i class="fa fa-music" aria-hidden="true"> </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-header-tag">
                                </span>
                            </div>
                            <div class="box-header-control">
                                <div class="group-header-control">
                                    <div class="log-out">
                                        <button title="Đăng xuất" class="btn-logout"
                                                data-toggle="modal" data-target="#myModallogOut">
                                            <svg class="icon icon-px_ic__Logout">
                                                <use xlink:href="#icon-px_ic__Logout"></use>
                                            </svg> Thoát
                                        </button>
                                        <div id="myModallogOut" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button id="close" type="button"
                                                                class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <svg class="icon icon-px_ic___Delete">
                                                                <use xlink:href="#icon-px_ic___Delete"></use>
                                                            </svg>
                                                        </button>
                                                        <h4 class="modal-title">Thông báo</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="content-logout">
                                                            Bạn có chắc chắn thoát khỏi lớp?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn-border"
                                                                data-dismiss="modal">
                                                            Thoát khỏi lớp
                                                        </button><button class="btn-full" data-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-slide-chat">
                        <div class="vcrx-box-body vcrx-box-center">
                            <div class="vcrx-item-box vcrx-slide">
                                <div class="box-slide box-list">
                                    <div class="vcr-slider">
                                        <div class="vcr-title-user full-width">
                                            <p class="vcrx-title">
                                                Chủ đề: <span>
                                                    Sharing some smart Organizing Ideas
                                                    For Your Kitchen
                                                </span>
                                            </p>
                                        </div>
                                        <div class="vcr-slide-box">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vcrx-box-body vcrx-box-right">
                            <div class="vcrx-item-box vcrx-timer">
                                <div class="box-timer box-list">
                                    <h5 class="vcrx-title">Thời gian</h5>
                                    <div class="box-timer-content">
                                        <div class="box-timer-count">
                                            <span class="timer-count-text">
                                                00: 25:
                                                04
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vcrx-item-box vcrx-chat">
                                <div class="box-chat box-list">
                                    <div class="vcr-body-chat">
                                        <div class="vcr-title-user">
                                            <h5 class="vcrx-title">Trò chuyện</h5>
                                        </div>
                                        <div class=" vcr-box vcr-public-chat">
                                            <div class="tab">
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item active">
                                                        <a class="nav-link active" data-toggle="tab" href="#home">
                                                            <div class="box-icon-chat icon-public">
                                                                <svg class="icon icon-px_ic__Chat">
                                                                    <use xlink:href="#icon-px_ic__Chat"></use>
                                                                </svg>
                                                            </div>Công khai
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#menu1">
                                                            <div class="box-icon-chat icon-public">
                                                                <svg class="icon icon-px_ic__Option">
                                                                    <use xlink:href="#icon-px_ic__Option"></use>
                                                                </svg>
                                                            </div><span>Tùy chọn</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#menu2">
                                                            <div class="box-icon-chat icon-public">
                                                                <svg class="icon icon-px_ic__User">
                                                                    <use xlink:href="#icon-px_ic__User"></use>
                                                                </svg>
                                                            </div>
                                                            <span>Milicevic</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="home" class="tab-pane active">
                                                        <div>
                                                            <div id="sideToolbarContainerChat">
                                                                <div id="chat_container" data-userid-private="0"
                                                                     class="sideToolbarContainer__inner">
                                                                    <div id="chatconversation">
                                                                        <div class="box-content-chat">
                                                                            <div class="chatmessage chatmessageReceived">
                                                                                <div class="username remoteuser">
                                                                                    Vuk
                                                                                    LAZAREVIĆ
                                                                                </div>
                                                                                <div class="timestamp">19:10:01</div>
                                                                                <div class="usermessage">
                                                                                    <p class="userMessageContentReceived">
                                                                                        Designate (v) /ˈdezɪɡneɪt/ to
                                                                                        show something using a
                                                                                        particular mark or sign
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-content-chat">
                                                                            <div class="chatmessage chatmessageReceived">
                                                                                <div class="username remoteuser">
                                                                                    Vuk
                                                                                    LAZAREVIĆ
                                                                                </div>
                                                                                <div class="timestamp">19:22:17</div>
                                                                                <div class="usermessage">
                                                                                    <p class="userMessageContentReceived">
                                                                                        If you cancel now you will mess
                                                                                        up all my arrangements
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-content-chat"><div class="chatmessage"><div class="username localuser"></div><div class="timestamp">14:54:44</div><div class="usermessage"><p class="userMessageContent">Good afternoon</p></div></div></div>
                                                                    </div>
                                                                    <textarea class="text-area" spellcheck="false" id="usermsg" data-i18n="[placeholder]chat.messagebox" placeholder="Nhập tin nhắn"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="menu1" class="tab-pane fade">
                                                        <div>
                                                            <ul id="chat-userlist" class="list-group chat-userlist">
                                                                <a class="nav-link" data-toggle="tab" href="#menu2">
                                                                    <li class="contact-list-item">
                                                                        <div class="group-icon-device">
                                                                            <div class="box-icon-device">
                                                                                <div class="icon-user icon-teacher">
                                                                                    <svg class="icon icon-px_ic_teacher">
                                                                                        <use xlink:href="#icon-px_ic_teacher">
                                                                                        </use>
                                                                                    </svg>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="contact-list-item-name">
                                                                            <span title="TEACHER" class="user-role">
                                                                                <span class="role-device">TEACHER</span><br>
                                                                            </span>
                                                                            <span class="user-name" title=" Milicevic Olivera-131224"> Milicevic Olivera-131224</span>
                                                                        </div>
                                                                        <div class="box-number-noti"></div>
                                                                    </li>
                                                                </a>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="menu2" class="tab-pane">
                                                        <div>
                                                            <div id="sideToolbarContainerChat">
                                                                <div id="chat_container" data-userid-private="0"
                                                                     class="sideToolbarContainer__inner">
                                                                    <div id="chatconversation">
                                                                        <div class="box-content-chat">
                                                                            <div class="chatmessage chatmessageReceived">
                                                                                <div class="username remoteuser">
                                                                                    Vuk
                                                                                    LAZAREVIĆ
                                                                                </div>
                                                                                <div class="timestamp">19:10:01</div>
                                                                                <div class="usermessage">
                                                                                    <p class="userMessageContentReceived">
                                                                                        Designate (v) /ˈdezɪɡneɪt/ to
                                                                                        show something using a
                                                                                        particular mark or sign
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-content-chat">
                                                                            <div class="chatmessage chatmessageReceived">
                                                                                <div class="username remoteuser">
                                                                                    Vuk
                                                                                    LAZAREVIĆ
                                                                                </div>
                                                                                <div class="timestamp">19:22:17</div>
                                                                                <div class="usermessage">
                                                                                    <p class="userMessageContentReceived">
                                                                                        If you cancel now you will mess
                                                                                        up all my arrangements
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-content-chat"><div class="chatmessage"><div class="username localuser"></div><div class="timestamp">14:54:44</div><div class="usermessage"><p class="userMessageContent">Good afternoon</p></div></div></div>
                                                                    </div>
                                                                    <textarea class="text-area" spellcheck="false" id="usermsg" data-i18n="[placeholder]chat.messagebox" placeholder="Nhập tin nhắn"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane">
                                                        <ul id="chat-userlist" class="list-group chat-userlist">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const username = "@User.Identity.Name";
    console.log(username);
    const classid = "@Model.ClassID";
</script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/ConnectionHub.js"></script>
